/**Classes**/


.campos{
    font-family: Rum Raisin;
    margin-left: 10px;
}
.campos.texto{
    color: black;
}
.campos.titulo{
    font-size: 20px;
}
.campos.inputs{
    width: 340px;
}
.campos.botao{
    margin-top: 20px;
    font-size: 15px;
}


/**Id's**/
#imagemperfil{
    margin-top: 10px;
    width: 350px;
    height: 200px;
}

#dados{
    margin-top: 10px;
}

#barraprogresso1{
    border: 2px solid #cdfcd3;
    background-color: #cdfcd3;
    color: black;
    font-family: Rum Raisin;
}

#barraprogresso2{
    border: 2px solid #fccdf7;
    background-color: #fccdf7;
    color: black;
    font-family:Rum Raisin;
}

#barraprogresso3{
    border: 2px solid #fceacd;
    background-color: #fceacd;
    color: black;
    font-family: Rum Raisin;
}

#titleavanco{
    font-family: Rum Raisin;
    font-size: 20px;
    color: black;
}

#titlebarra{
    font-family: Rum Raisin;
    font-size: 15px;
    color: black;
}

#perfilinfo{
    font-family: Rum Raisin;
}

#btnSair{
    text-align: center;
}



