/**Classes**/
.campos{
    font-family: Rum Raisin;
}
.campos.texto{
    color: black;
}
.campos.botao{
    margin-top: 2vh;
    font-size: 1em;
}


/**Id's**/
#dados{
    margin-top: 1vh;
}

#barraprogresso1{
    border: 2px solid #cdfcd3;
    background-color: #cdfcd3;
    color: black;
    font-family: Rum Raisin;
}

#barraprogresso2{
    border: 2px solid #fccdf7;
    background-color: #fccdf7;
    color: black;
    font-family: Rum Raisin;
}

#barraprogresso3{
    border: 2px solid #fceacd;
    background-color: #fceacd;
    color: black;
    font-family: Rum Raisin;
}

#titleavanco{
    font-family: Rum Raisin;
    font-size: 1.5em;
    color: black;
}

#titlebarra{
    font-family: Rum Raisin;
    font-size: 1em;
    color: black;
}

#perfilinfo{
    font-family: Rum Raisin;
}

#btnSair{
    text-align: center;
}



