<ion-header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title id="textostitle">Meu perfil</ion-title>
    </ion-toolbar>
</ion-header>
      
<ion-content color="primary" padding>
    <div text-center>
        <img id="imagemperfil" >
    </div>
    <div id="dados">
    <ion-item >
        <ion-label id="perfilinfo">
          Fulano de Tal
        </ion-label>
        <ion-icon name="create" (click)="alterarNomeAlert()"></ion-icon>
      </ion-item>
      <ion-item >
          <ion-label id="perfilinfo">
            fulano.tal@gmail.com
          </ion-label>
          <ion-icon name="create" (click)="alterarEmailAlert()"></ion-icon>
      </ion-item>
      <ion-item >
          <ion-label id="perfilinfo">
            Masculino
          </ion-label>
          <ion-icon name="create" (click)="alterarGeneroAlert()"></ion-icon>
        </ion-item>
        <ion-item >
            <ion-label id="perfilinfo">
              ****
            </ion-label>
            <ion-icon name="create" (click)="alterarSenhaAlert()"></ion-icon>
          </ion-item>
    </div>    
<br>

    <p id="titleavanco">Meu avanço diário:</p>
  
        <div class="progress">
                <div id ="barraprogresso" class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div> 
</ion-content>
      