/**Id's**/

#logo{
    width: 33vw;
    height: 20vh;
    border-radius: 10px;
    margin-top: 20%;
    }

/**Classes**/

#botao{
    height: 10vh;
    width: 85vw;
    margin-top: 20vh;
    margin-left: 7.5%;
    background: rgb(250, 248, 248);
    color: black;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(196, 195, 195);

}

#google{
    height: 6vh;
    width: 16vw;
    margin-left: 3.5%;
    margin-top: 4%;
}

#TextoGoogle{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 27.5%;
    margin-top: -12.5%;
    font-size: 1.5em;
}
