/**Id's**/
#logo{
    width: 35vw;
    height: 20vh;
    border-radius: 10px;
    margin-top: 10vh;
    }

#titulo{
    font-size: 2em;
    font-family:  Rum Raisin;
    color: black;
    margin-top: 4vh;
}
#formulario{
    margin-top: 10vh;
    margin-left: 1vw;
}

/**Classes**/

.campos{
    font-family: Rum Raisin;
    margin-left: 9vw;
}
.campos.inputs{
    height: 8vh;
    width: 80%;
}
.campos.botao{
    margin-top: 20px;
    font-size: 1em;
    width: 100px;
    margin-left: 11.8vw;
}
.campos.botao.entrar{
    margin-left: 7.5%;
}