/**Id's**/
#logo{
    width: 20vh;
    height: 20vh;
    border-radius: 10px;
    margin-top: 20%;
    }

#titulo{
    font-size: 2em;
    font-family:  Rum Raisin;
    color: black;
    margin-top: 10%;
}


/**Classes**/



#botao{
    font-family: Times New Roman;
    font-size: 1.2em;
    height: 10vh;
    margin-top: 17vh;
    margin-left: 6vh;
    background: white;
    color: black;
}
