#voltar{
    position: relative;
    right: 90px;
    font-family:  Rum Raisin; 
}

#proximo{
    position: relative;
    left: 90px;
    font-family:  Rum Raisin; 
}

#topo{
    height: 60px;
}

#texto{
   font-family:  Rum Raisin; 
   color: black;
   margin-top: -37px;
   margin-left: 60px;
}

#enunciado{
    font-family:  Rum Raisin; 
    color: black;   
}

#PerguntaImagem{ 
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 2px solid;
    border-color: darkslategrey;
    margin-top: 6px;
    background-color: white;
}

#iconeApp{ 
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 2px solid;
    border-color: darkslategrey;
    margin-top: 20px;
    background-color: white;
}

.meio{
    height: 450px;
    width: 330px;
    text-align: center;
    background: white;
    margin:auto;
    margin-top: 40px;
}

#pergunta{
    margin-top: 20px;
    width: 90%;
    height: 50px;
    font-family:  Rum Raisin; 
    font-size: 30px;
}