<ion-header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <ion-toolbar>
    <ion-title>
    <div id="topo">
      <img id="PerguntaImagem" src="assets/images/pergunta.png">
      <h5 id="texto">Jogo das Perguntas</h5>
    </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <div *ngIf="!perguntaAtual">Carregando dados... Espere um pouco</div>

<div *ngIf="perguntaAtual" text-center>

  <div text-center class="meio">
      <div *ngIf="perguntaAtual.urlDaImagem">
        <img id="iconeApp" src="{{perguntaAtual.urlDaImagem}}"> 
    </div>
    <br>
    <br>
    <h4 id="enunciado">{{perguntaAtual.enunciado}}</h4>
  <div id="botoes">
      <button *ngFor="let alternativa of perguntaAtual.alternativas" type="button" class="btn btn-outline-dark" id="pergunta"  (click)="conferirPergunta(alternativa)">{{alternativa}}</button>
  </div>
</div>
<br>
<button type="button" class="btn btn-light" id="voltar" (click)="abrirPagina('home')">Voltar</button>
</div>



</ion-content>
