#voltar{
    font-family:  Times New Roman; 
    font-size: 1.5em;
    top:110%;
    margin-top: 4vh;
}
#proximo{
    position: relative;
    left: 90px;
}

#topo{
    height: 8vh;
}

#texto{
   font-family:  Times New Roman; 
   font-size: 1.3em;
   color: black;
   margin-top: -6vh;
   margin-left: 8vh;
}

#MemoriaImagem{ 
    height: 7vh;
    width: 7vh;
    border-radius: 2vh;
    border: 2px solid;
    border-color: darkslategrey;
    margin-top: 1vh;
    background-color: white;
}

#meio{
    height: 65vh;
    width: 90vw;
    text-align: center;
    background: white;
    border-radius: 2vh;
    margin: auto;
    margin-top: -1.5vh;
}
#meio2{
    height: 65vh;
    width: 85vw;
    text-align: center;
    background: white;
    border-radius: 2vh;
    margin: auto;
    margin-top: -1vh;
}
.cartaR{
    height: 18.5vh;
    width: 40vw;
    border-radius: 10px;
    border: 2px solid;
    border-color: darkslategrey;
    margin-top: 2.5vh;
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
}
#teste{
    color: black;
}
.cartaL{
    height: 13.5vh;
    width: 35vw;
    border-radius: 10px;
    border: 2px solid;
    border-color: darkslategrey;
    margin-top: 2.2vh;
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
}
#front{
    border-color: black;
}
#back{
    border-color: black;
}

#barraprogresso3{
    border: 2px solid #fceacd;
    background-color: #fceacd;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#titlebarra{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: black;
    margin-top: 2%;
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid darkslategrey; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

