<ion-header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <ion-toolbar>
    <ion-title>
      <div id="topo">
        <img id="MemoriaImagem" src="assets/images/memoria.png">
        <h5 id="texto">Jogo da Memória</h5>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <div class="loader" *ngIf="!memoriaAtual"></div>
<div text-center>
  <br>
  <div class="progress">
      <div id ="barraprogresso3" class="progress-bar" role="progressbar" [style.width]="porcentagem + '%'" [attr.aria-valuenow]="porcentagem" aria-valuemin="0" aria-valuemax="100">{{porcentagem}}%</div>   
    </div>
    <p id="titlebarra" text-center>{{nivel}}</p>
    <div text-center id="meio"  *ngIf="cartas.length==6">
       <div>
        <img *ngFor="let carta of cartas" (click)="imageClicked(carta)" class="cartaR" [src]="carta?.displayUrl">
      </div>
      <button type="button" class="btn btn-light" id="voltar" (click)="abrirPagina('home')">Voltar</button>
    </div>

    <div text-center id="meio2"  *ngIf="cartas.length==8">
      <div>
       <img *ngFor="let carta of cartas" (click)="imageClicked(carta)" class="cartaL" [src]="carta?.displayUrl">
     </div>
     <button type="button" class="btn btn-light" id="voltar" (click)="abrirPagina('home')">Voltar</button>
   </div>
  <br>

 
</div>
  </ion-content>
