#voltar{
    position: center;
    font-family:  Times New Roman; 
    font-size: 1.5em;
}
#proximo{
    position: relative;
    left: 90px;
}

#topo{
    height: 8vh;
}

#texto{
    font-family:  Times New Roman; 
   font-size: 1.3em;
   color: black;
   margin-top: -6vh;
   margin-left: 8vh;
}

#MemoriaImagem{ 
    height: 7vh;
    width: 7vh;
    border-radius: 2vh;
    border: 2px solid;
    border-color: darkslategrey;
    margin-top: 1vh;
    background-color: white;
}

.meio{
    height: 70vh;
    width: 90vw;
    text-align: center;
    background: white;
    border-radius: 2vh;
    margin: auto;
    
    margin-top: 7vh;
}
.cartaR{
    height: 20vh;
    width: 40vw;
    border-radius: 10px;
    border: 2px solid;
    border-color: darkslategrey;
    margin-top: 2.5vh;
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
}
.cartaL{
    height: 20vh;
    width: 40vw;
    border-radius: 10px;
    border: 2px solid;
    border-color: darkslategrey;
    margin-top: 2.5vh;
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
}
#front{
    border-color: black;
}
#back{
    border-color: black;
}