<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title id="textostitle">Informações</ion-title>
    </ion-toolbar>
</ion-header>
      
<ion-content padding>
    <h3 id="textoinfo">Aplicativo:</h3>
    <h5 id="textoinfo">O aplicativo é o Pré-Projeto de Prática Profissional Orientada (PPO), desenvolvido por alunos do curso Técnico em Informática, da turma 2016.1 Integrado, oferecido pelo
    Instituto Federal de Pernambuco, Campus Garanhus. 
    </h5>
    <h3 id="textoinfo">Desenvolvedores:</h3>
    <h5 id="textoinfo">Dayse Ellen da Silva Pinheiro</h5>
    <h5 id="textoinfo">Emanuel Pedro Felix Vieira</h5>
    <h5 id="textoinfo">Noemi Alves Tavares</h5>
    
    <p color="light">Versão: 1.0</p>
</ion-content>
      