/**Id's**/
#welcome{
    font-size: 2.5em;
    font-family:  Times New Roman;
    color: black;
    margin-top: 8vh;
    }

#logo{
    width: 35vw;
    height: 20vh;
    border-radius: 10px;
    margin-top: 10vh;
    }

/**Classes**/

.botoes{
    font-family: Times New Roman;
    font-size: 1.2em;
    height: 10vh;
    width: 70%;
}

.botoes.entrar{
    margin-top: 12vh;
    
}

.botoes.cadastrar{
 margin-top: 4vh;
}

