/**Id's**/
#welcome{
    font-size: 50px;
    font-family:  Rum Raisin;
    color: black;
    margin-top: 50px;
    }

#logo{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-top: 70px;
    }

/**Classes**/

.botoes{
    font-family: Rum Raisin;
    font-size: 20px;
    height: 60px;
}

.botoes.cadastro{
    margin-top: 70px;   
}

.botoes.entrar{
    margin-top: 50px;
}

