<ion-header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</ion-header>

<ion-content color="primary" padding>
    <div id="divlogo">
        <img id="logo" src="assets/images/logoProjeto.jpeg">
    </div>
   <div text-center id="titulo">Cadastre-se!</div>
   <div>
    <form #cadastro="ngForm" (ngSubmit)="cadastrarComGoogle(cadastro.value)">
        <div class="form-row formulario">
        <div class="form-group col-md-6">
          <label for="inputName4" class="campos textoformulario">Digite sua idade:</label>
          <input type="number" class="form-control campos inputs" id="inputName4" placeholder="Idade" name="idade" ngModel required>
        </div>
        <div class="form-group col-md-6">
          <label class="campos textoformulario" for="exampleFormControlSelect1" >Escolha o seu sexo:</label>
          <select class="form-control campos inputs" id="exampleFormControlSelect1" name="genero" ngModel required >
            <option>Feminino</option>
            <option>Masculino</option>
          </select>
        </div>
        
           
        </div>
        <br>
      <div>
        <ion-button  class="campos botao" color="light" (click)="abrirPagina('cadastrar')">Voltar</ion-button>
        <ion-button type="submit" class="campos botao" id="cadastrar" color="light"  [disabled]="!cadastro.form.valid" >Cadastrar</ion-button>
     </div>
      </form>
    </div>
</ion-content>
