<ion-header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</ion-header>

<ion-content color="primary">
    <div id="divlogo">
        <img id="logo" src="assets/images/logosymbol.png">
    </div>
   <div text-center id="titulo">Cadastre-se!</div>
   <div>
    <form>
        <div class="form-row formulario">
          <div class="col">
              <label for="nomeinput" class="campos textoformulario">Digite seu nome:</label>
            <input type="text" class="form-control campos inputs" placeholder="Nome" id="nomeinput">
          </div>
          <div class="form-group col-md-6">
              <br>
              <label for="inputEmail4" class="campos textoformulario">Digite seu e-mail:</label>
              <input type="email" class="form-control campos inputs" id="inputEmail4" placeholder="Email">
            </div>
          <div class="form-group col-md-6"> 
              <label for="inputPassword4" class="campos textoformulario">Digite sua senha:</label>
              <input type="password" class="form-control campos inputs" id="inputPassword4" placeholder="Senha">
          </div>
          <div class="col-auto my-1">
              <label  class="campos textoformulario" for="inlineFormCustomSelect">Selecione seu gênero:</label>
              <select class="custom-select mr-sm-2 campos" id="inlineFormCustomSelect">
                <option selected>Feminino</option>
                <option >Masculino</option>   
              </select>
            </div>
        </div>
        <br>
        <ion-button type="submit" class="campos botao" color="light" (click)="abrirPagina('cadastrar')">Voltar</ion-button>
        <ion-button type="submit" class="campos botao cadastrar" color="light" (click)="abrirPagina('login')">Cadastrar</ion-button>
      </form>
    </div>
</ion-content>
