<ion-header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</ion-header>

<ion-content color="primary" padding>
    <div id="divlogo">
        <img id="logo" src="assets/images/logoProjeto.jpeg">
    </div>
   <div text-center id="titulo">Cadastre-se!</div>
   <div>
    <form #cadastro="ngForm" (ngSubmit)="createAccount(cadastro.value)">
        <div class="form-row formulario">
        <div class="form-group col-md-6">
          <label for="inputName1" class="campos textoformulario">Digite seu nome:</label>
          <input type="text" class="form-control campos inputs" id="inputName1" placeholder="Nome" name="nome" ngModel required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputUserName" class="campos textoformulario">Digite seu apelido:</label>
          <input type="text" class="form-control campos inputs" id="inputUserName" placeholder="Apelido" name="username" ngModel required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputAno" class="campos textoformulario">Escolha sua idade:</label>
        <select class="form-control campos inputs" id="exampleFormControlSelect2" name="idade" ngModel required >
          <option>Menos de 50</option>
          <option>Entre 50 e 60</option>
          <option>Entre 61 e 70</option>
          <option>Entre 71 e 80</option>
          <option>Mais de 80</option>
        </select>
        </div>
        <div class="form-group col-md-6">
          <label class="campos textoformulario" for="exampleFormControlSelect1" >Escolha o seu sexo:</label>
          <select class="form-control campos inputs" id="exampleFormControlSelect1" name="genero" ngModel required >
            <option>Feminino</option>
            <option>Masculino</option>
          </select>
        </div>
        <div class="form-group col-md-6"> 
            <label for="inputPassword4" class="campos textoformulario">Digite sua senha:</label>
          <input type="password" class="form-control campos inputs" id="inputPassword4" placeholder="Senha" name="senha" ngModel required minlength="6" (click)="alertSenha()">
        </div>
        <div class="form-group col-md-6"> 
          <label for="inputMotherName" class="campos textoformulario">Digite o nome da sua mãe:</label>
        <input type="text" class="form-control campos inputs" id="inputMotherName" placeholder="Nome da mãe" name="nomeMae" ngModel required (click)="alertDica()">
      </div>
        </div>
        <br>
      <div>
        <ion-button  class="campos botao" color="light" (click)="abrirPagina('cadastrar')">Voltar</ion-button>
        <ion-button type="submit" class="campos botao cadastrar" color="light"  [disabled]="!cadastro.form.valid">Cadastrar</ion-button>
     </div>
      </form>
    </div>
</ion-content>
