/**Id's**/
#titulo{
    font-size: 2em;
    font-family:  Times New Roman;
    color: black;
    margin-top: 4vh;
}

#logo{
    border-radius: 20px;
    height: 13vh;
    width: 13vh;
    margin-top: 1vh;
    float: left;
}
#mensagem{
    color: black;
    font-family: Times New Roman;
    font-size: 1em;
}

/**Classes**/
.formulario{
    margin-top: 5vh;
}

.campos{
    font-family: Times New Roman;
   
}

.campos.textoformulario{
    color: black;
    font-size: 1.5em;
}

.campos.inputs{
    width: 95%;
}
.campos.botao{
    font-size: 1em;
}

#cadastrar{
    margin-left: 10%;
}
.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}
.ng-valid:not(form){
    border: 1px solid green;
}

#divv{
    margin-left: 1.2vh;
}



