/**Id's**/
#titulo{
    font-size: 30px;
    font-family:  Rum Raisin;
    color: black;
    margin-top: 60px;
}

#logo{
    border-radius: 20px;
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

/**Classes**/
.formulario{
    margin-top: 60px;
}

.campos{
    font-family: Rum Raisin;
    margin-left: 10px;
}
.campos.textoformulario{
    color: black;
    font-size: 20px;
}
.campos.inputs{
    width: 340px;
}
.campos.botao{
    margin-top: 20px;
    font-size: 15px;
}
.campos.botao.cadastrar{
    margin-left: 155px;
}




