<ion-header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <ion-toolbar>
    <ion-title>
      <div id="topo">
        <img id="ArrastaImagem" src="assets/images/arrasta.png">
        <h5 id="texto">Jogo do Arrasta & Solta</h5>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div *ngIf="imagensCarregadas" text-center>
    <div text-center class="meio">
      
      <div *ngIf="!janelaUmOk" id="fundo1">
        <h6 id="nome1">{{nomes[0]}}</h6>
      </div>
      <div *ngIf="!janelaUmOk" id="janela1" dragula="bag" [(dragulaModel)]="janela"
        (dragulaModelChange)="containerUmModificado()">
      </div>
      <div *ngIf="janelaUmOk" id="janela1"> 
        <img  id="imgDrop" [src]="janela[0].url">
      </div>


      <div *ngIf="!janelaDoisOk" id="fundo2">
        <h6 id="nome1">{{nomes[1]}}</h6>
      </div>
      <div *ngIf="!janelaDoisOk" id="janela2" dragula="bag" [(dragulaModel)]="janela2"
        (dragulaModelChange)="containerDoisModificado()">
      </div>
      <div *ngIf="janelaDoisOk" id="janela2"> 
        <img  id="imgDrop" [src]="janela2[0].url">
      </div>

      <div *ngIf="!janelaTresOk" id="fundo3">
        <h6 id="nome1">{{nomes[2]}}</h6>
      </div>
      <div *ngIf="!janelaTresOk" id="janela3" dragula="bag" [(dragulaModel)]="janela3"
        (dragulaModelChange)="containerTresModificado()">
      </div>

      <div *ngIf="janelaTresOk" id="janela3">
        <img id="imgDrop" [src]="janela3[0].url">
      </div>

    </div>
    <div id="painel" dragula="bag" [(dragulaModel)]="imagens">
      <img id="imgPainel" *ngFor="let imagem of imagens" [src]="imagem.url">

    </div>

    <button type="button" class="btn btn-light" id="voltar" (click)="abrirPagina('home')">Voltar</button>
  </div>
</ion-content>