
#voltar{
    position: center;
    font-family:  Times New Roman; 
    font-size: 1.5em;
}

#topo{
    height: 9vh;
}

#texto{
    font-family:  Times New Roman; 
    font-size: 1.3em;
    color: black;
    margin-top: -6vh;
    margin-left: 15vw;
}

#ArrastaImagem{ 
    height: 7vh;
    width: 11vw;
    border-radius: 2vh;
    border: 2px solid;
    border-color: darkslategrey;
    margin-top: 1vh;
    background-color: white;
}

.meio{
    height: 70vh;
    width: 90vw;
    text-align: center;
    background: white;
    border-radius: 2vh;
    margin: auto;
    margin-top: 7vh;
}

#label{
    position: relative;
    font-family:  'Times New Roman', Times, serif; 
    font-size: 1.2em;
    color: black;
    top: 1%;
}

#janela1{
    position: relative;
    text-align: center;
    height: 14vh;
    width: 25vw;
    border: 2px solid;
    border-color: darkslategrey;
    top: 11vh;
    left: 13.5vw;
    float: left;
}
#janela2{
    position: relative;
    text-align: center;
    height: 14vh;
    width: 25vw;
    border: 2px solid;
    border-color: darkslategrey;
    top: 11vh;
    left: 27vw;
    float: left;
}
#janela3{
    position: relative;
    text-align: center;
    height: 14vh;
    width: 25vw;
    border: 2px solid;
    border-color: darkslategrey;
    top: 30vh;
    right: 17vw;
    float: left;
}
#img1{
    position: relative;
    height: 10vh;
    width: 20vw;
    border-radius: 10px;
    border: 2px solid;
    border-color: darkslategrey;
    top: 40vh;
    background-color:white;
}
#img2{
    position: relative;
    height: 10vh;
    width: 20vw;
    border-radius: 10px;
    border: 2px solid;
    border-color: darkslategrey;
    top: 40vh;
    background-color: white;
}
#img3{
    position: relative;
    height: 10vh;
    width: 20vw;
    border-radius: 10px;
    border: 2px solid;
    border-color: darkslategrey;
    top: 40vh;
    background-color: white;
}
#img4{
    position: relative;
    height: 10vh;
    width: 20vw;
    border-radius: 10px;
    border: 2px solid;
    border-color: darkslategrey;
    top: 40vh;
    background-color: white;
}