
#voltar{
    position: center;
    font-family:  Times New Roman; 
    font-size: 1.5em;
    margin-top: 28.5vh;
}

#topo{
    height: 9vh;
}

#texto{
    font-family:  Times New Roman; 
    font-size: 1.3em;
    color: black;
    margin-top: -6vh;
    margin-left: 15vw;
}

#ArrastaImagem{ 
    height: 7vh;
    width: 11vw;
    border-radius: 2vh;
    border: 2px solid;
    border-color: darkslategrey;
    margin-top: 1vh;
    background-color: white;
}
.meioNivel1{
    height: 50vh;
    width: 90vw;
    text-align: center;
    background: white;
    border-radius: 2vh;
    margin: auto;
    margin-top: 3vh;
}
.meioNivel2{
    height: 50vh;
    width: 90vw;
    text-align: center;
    background: white;
    border-radius: 2vh;
    margin: auto;
    margin-top: 3vh;
}

#label{
    position: relative;
    font-family:  'Times New Roman', Times, serif; 
    font-size: 1.2em;
    color: black;
    top: 1%;
    border: 2px solid;
    border-color: darkslategrey;
}
#fundo0-1{
    position: fixed;
    height: 13vh;
    width: 22vw;
    top: 28.4vh;
    left: 18.8vw;
    z-index:1;
    color: black;
}
#fundo1-1{
    position: fixed;
    height: 13vh;
    width: 22vw;
    top: 28.4vh;
    left: 60.2vw;
    z-index:1;
    color:black;
}
#fundo2-1{
    position: fixed;
    height: 13vh;
    width: 22vw;
    top: 50vh;
    left: 39.2vw;
    z-index:1;
    color: black;   
}
#janela0-1{
    position: relative;
    height: 13.5vh;
    width: 22.5vw;
    border: 3px solid;
    border-radius: 2vh;
    border-color: darkslategrey;
    margin-top: 11vh;
    margin-left: 13.5vw;
    float: left;
    z-index:2;
}
#janela1-1{
    position: relative;
    height: 13.5vh;
    width: 22.5vw;
    border: 3px solid;
    border-radius: 2vh;
    border-color: darkslategrey;
    margin-top: 11vh;
    margin-left: 19vw;
    float: left;
    z-index:2;
}
#janela2-1{
    position: relative;
    height: 13.5vh;
    width: 22.5vw;
    border: 3px solid;
    border-radius: 2vh;
    border-color: darkslategrey;
    margin-top: 8vh;
    margin-left: 33.75vw;
    float: left;
    z-index:2;


h6{
    color: black;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family:  Times New Roman; 
    font-size: 1em;
    text-align: center;
}

}
#fundo0-2{
    position: relative;
    height: 13vh;
    width: 22vw;
    margin-top: 2vh;
    margin-left: 10vw;
    float: left;
    z-index: 1;
    color:black;
    padding-top: 3vh;
}
#fundo1-2{
    position: relative;
    height: 13vh;
    width: 22vw;
    color:black;
    margin-top: 2vh;
    margin-right: 10vw;
    float: right;
    z-index:1;
    padding-top: 3vh;
}
#fundo2-2{
    position: absolute;
    height: 13vh;
    width: 22vw;
    color:black;
    margin-top: 18.25vh;
    margin-right: 33.75vw;
    margin-left: 33.75vw;
    z-index: 1;
    padding-top: 3vh;
}
#fundo3-2{
    position: relative;
    height: 13vh;
    width: 22vw;
    color:black;
    margin-top: 19vh;
    margin-left: 10vw;
    float: left;
    z-index:1;
    padding-top: 3vh;
}
#fundo4-2{
    position: relative;
    height: 13vh;
    width: 22vw;
    color:black;
    margin-top: 19vh;
    margin-right: 10vw;
    float: right;
    z-index:1;
    padding-top: 3vh;
}
#janela0-2{
    position: relative;
    height: 13.5vh;
    width: 22.5vw;
    border: 3px solid;
    border-radius: 2vh;
    border-color: darkslategrey;
    margin-top: 2vh;
    margin-left: -22.5vw;
    float: left;
    z-index: 2;
}
#janela1-2{
    position: relative;
    height: 13.5vh;
    width: 22.5vw;
    border: 3px solid;
    border-radius: 2vh;
    border-color: darkslategrey;
    margin-top: -13.5vh;
    margin-right: 10vw;
    float: right;
    z-index: 2;
}
#janela2-2{
    position: absolute;
    height: 13.5vh;
    width: 22.5vw;
    border: 3px solid;
    border-radius: 2vh;
    border-color: darkslategrey;
    margin-top: 18.25vh;
    margin-right: 33.75vw;
    margin-left: 33.75vw;
    z-index: 2;
}
#janela3-2{
    position: absolute;
    height: 13.5vh;
    width: 22.5vw;
    border: 3px solid;
    border-radius: 2vh;
    border-color: darkslategrey;
    margin-top: 34.5vh;
    margin-left: 10vw;
    float: left;
    z-index: 2
}
#janela4-2{
    position: absolute;
    height: 13.5vh;
    width: 22.5vw;
    border: 3px solid;
    border-radius: 2vh;
    border-color: darkslategrey;
    margin-top: 34.5vh;
    margin-left: 57.5vw;
    float: right;
    z-index: 2;
}    
#imgPainel{
    position: relative; 
    height: 12vh;
    width: 22vw;
    border-radius: 2vh;
    background: white;
}  
#painelNivel1{
    position: absolute;
    height: 13vh;
    width: 100vw;
    margin-top: 5vh;
    margin-left: 1.5vw;
}   
#painelNivel2{
    position: absolute;
    height: 25vh;
    width: 80vw;
    margin-top: 3vh;
    margin-left: 11.25vw;
} 
#imgDrop{
    height: 12vh;
    width: 22vw;
    border-radius: 2vh;
    background: white;
}

/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  