.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.meio{
  height: 350px;
  width: 350px;
  text-align: center;
  margin:auto;
}

.pergunta{
  position: relative;
  top: 40px;
  left: 15%;
  background-color: white;
  height: 110px;
  width: 110px;
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(100, 138, 214);
  float: left;
}

#Pergunta{ 
  height: 110px;
  width: 110px;
}

.arrasta{
  position: relative;
  left: 22%;
  top: 40px;
  background-color: white;
  height: 110px;
  width: 110px;
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 2px solid;
  border-color:rgb(231, 103, 103);
  float: left;
}

#Arrasta{
  height: 110px;
  width: 110px;
 }

 .memoria{
  position: relative;
  right: 30%;
  top: 190px;
  background-color: white;
  height: 110px;
  width: 110px;
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 2px solid;
  border-color:rgb(233, 233, 120); 
  float: left;
}

 #Memoria{
  height: 110px;
  width: 110px;
 }

#logo{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-top: 30px;
  }

#texto{
  font-size: 35px;
  font-family:  Rum Raisin;
  color: black;
  margin-top: 20px;
  }
#textjogos{
  font-family:  Rum Raisin;
  margin-top: -3px;
}
