<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <ion-title>Super Sênior</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
    <div text-center>
        <img id="logo" src="assets/images/supersenior-logo.png">
    </div> 

    <div text-center id='texto'>Olá, Sr(a). (Nome)</div>

<div text-center class="meio">
    <div class="pergunta">
        <img id="Pergunta" src="assets/images/pergunta.png" (click)="abrirPagina('tela-pergunta')">
        Pergunta
    </div>
    <div class="arrasta">
        <img id="Arrasta" src="assets/images/arrasta.png" (click)="abrirPagina('tela-arrasta')">
        Arrasta&Solta
    </div>
    <div class="memoria">
        <img id="Memoria" src="assets/images/memoria.png" (click)="abrirPagina('tela-memoria')">
        Memória
    </div>
</div>
</ion-content>
